/*
 * Estilos de tu proyecto
 COLORES:
 	Botones, hover: #FF00BF
	Fondo de footer: #333447
	Título del formulario: #352384
	Texto del formulario: #728099
	Gradiente morado: linear-gradient(#76278F, #2B1E66);

 */

 * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-size: 16px;
	line-height: 1.71429;
}

img {
	vertical-align: middle;
}

.container {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	padding:0 80px;
	
}

.container:before, .container:after {
	content: " ";
	display: table;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container:after {
	clear: both;/*both: Es un keyword que indica que el elemento es movido hacia abajo para limpiar tanto elementos flotantes de la izquierda como de la derecha.*/
}

.mb-0 {
	margin-bottom: 0px;
}

.mt-0 {
	margin-top: 0px;
}

.m-0 {
	margin: 0px;
}

a {
	color: white;
}

a:hover {
	color: #FF00BF;
}

.text-uppercase {  /*pasa el texto a mayusculas*/
	text-transform: uppercase!important;
}

.justify-center {
    -webkit-box-pack: center;
    justify-content: center;
}

.row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-left: -.9375rem;
    margin-right: -.9375rem;
}

.txt-center {
    text-align: center!important;
}
/*____________________________________________________________*/

header{
	background-image: url(../assets/images/hero.gif);	
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
	width: 100%;
	/*position: fixed;*/
	clear: both;
	overflow: hidden;
	padding-bottom: 250px;
}

/* 
.gradient {
    position: absolute;
    background: linear-gradient(transparent, #76278f );
    width: 100%;
    height: 6em;
    top: 35em;
}
*/


.link{
	font-weight: 700;
	/*padding: 0 20px;*/
	padding: 11px 20px;


	display: inline-block;
}

.logo{
	width: 7%;
	padding:40px 0;
}

.float-r{
	float:right;
	margin-top: 50px;
	text-decoration: none;
}

.login{
    color: #fff;
 /* padding: 11px 20px; */
    border-radius: 10px;
    border:1px solid white;
 /* margin-top: 70px; */

    display: inline-block;
}
/*____________________________________________________________*/



div{
	display: block;
}

#home{
	clear: both;
	overflow: hidden;
}

.home{
	background-color: #fff;
	float:right;
	width: 40%;
	color: #352384;
	padding-top: 50px;
}

.phone{
	border: none;
	background-color: transparent;
	border-bottom: 1px solid grey;
	font-size: 15px;
	width: 100%;
}

.btn-driver{
	color:#fff;
	background-color: #ff00bf;
	white-space: nowrap;
	text-decoration: none;
	border-radius: 8px;
	margin: 35px;

}

.sign{
	color: grey;

}

.home p{
	color: grey;
	font-size:10px;
}


/*____________________________________________________________*/


#drive{
	
	background: linear-gradient(#76278F, #2B1E66);
	clear: both;
	overflow: hidden;
	color:#fff;
}

.img-celu{
	float:right;
}

.txt-drive{
	float:left;
	margin-right: 100px;
}
.phone{
	width:48%;
}

/*____________________________________________________________*/

.txt-explore p:first-child{
	margin: 0;
	font-size: 12px;
}

.txt-explore h2{
	margin-top: 0;
}

.explore-izq{
	padding-left: 80px;
}

.explore-der{
	padding-right: 80px;
}

.txt-explore{
	width: 35%;
	display:inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

.txt-explore p:last-child{
	margin-bottom: 0;
}

.video-explore{
	width: 60%;
	display:inline-block;
	text-align: right;
}

iframe{
	width: 100%;
	padding: 0;
	margin:0;
}



/*____________________________________________________________*/

#footer{
	width: 100%;
	display: block;/* Hace que el elemento tenga como naturaleza 
	posicionarse en bloques, por lo que siempre empiezan en una 
	nueva línea y ocupan todo el espacio disponible en la línea, 
	aunque sus contenidos no ocupen todo el sitio. */
}

.footer{
	width: 100%;
	color:#fff;
	background-color: #333447;
	padding-top: 50px;
	padding-bottom: 50px;
}

/*iconos y copyright en línea*/
.abajo li {
	display: inline-block;
}

.iconos{
	font-size: 20px;
}

.row{
	margin-right: 50px;
}

.row{
	display: inline-block;
}


.sto-footer{
	display: inline-block;
}


.links-row a,.abajo  a{
	text-decoration: none;
}

.links-row a:hover{
	text-decoration: underline; 
	color: #FF00BF;
}

a img{
	width: 80%;
	padding:20 30px;

}

.arriba	 ul{
	list-style-type: none;
}

.final{
	border-top: 1px solid #f3f3f5;
	margin: 0;
}

.iconos{
	margin-bottom:  25px;
}

.fa{
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 10px;
	margin:0 15px;
}

.fa-facebook{
border: 1px solid #fff;
	border-radius: 50%;
	padding-right: 14px;
	padding-left: 14px;
}

.txt-footer{
	width: 75%;
	display: inline-block;

}
.sto-footer {
	width: 20%;
	display: inline-block;
}